# Python
__pycache__/
*.py[cod]
*.egg-info/
.python-version

# Virtual environments
.venv/
venv/
ENV/
.env
# Jupyter
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/

# Data and outputs
data/raw/
results/lora_adapter/

# Model artifacts
*.bin
*.safetensors
*.pt
*.ckpt
*.gguf

# OS files
Thumbs.db
Desktop.ini


NLU Projects - 2026.pdf